.container-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.container-white h2 {
  color: #171717;
  font-family: nimbusSansBold;
  font-size: 30px;
  text-align: center;
}
.container-white h2 span {
  color: var(--primary-color)
}

#perfil-image {
  height: 150px;
  margin: 0 0 30px;
}

#description {
  max-width: 600px;
  text-align: center;
  margin: 15px 30px;
  font-size: 20px;
}

#about-icon {
  height: 80px;
}

@media (max-width: 576px) {
  .container-white {
    padding: 50px 10px;
  }

  #perfil-image {
    height: 120px;
  }
}